.choice-container{
    display:flex;
    width:100%;
    background:white;
    margin-bottom:.5rem;
    border:.1rem solid rgba(86,165,235,.25);
    font-size:1.8rem;

}
.choice-prefix{
    padding:1.5rem 2.5rem;
    background:blue;
    color:white;
}
.choice-text{
    padding:1.5rem;
    width:100%;
}
.choice-container:hover{
    cursor:pointer;
    transform: translateY(-.15rem);
    transition: transform 150ms;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
}
.correct{
    background:green;
}
.incorrect{
    background:red;
}

/* hud */
#hud{
    display: flex;
    justify-content: space-between;
}
.hud-prefix{
    font-size: 2rem;
}

/* processbar */
#processbar{
    width:20rem;
    height:5rem;
    border:.2rem solid blue;
    /* position: fixed; */
    margin-top:-2.5rem;
    margin-bottom: 2.5rem;
      
}
#process{
    width:0%;
    height:4.56rem;
    background-color:blue;
}
/* loader */
#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  @keyframes spin{
      0%{
          transform: rotate(0deg);
      }
      100%{
          transform: rotate(360deg);
      }
  };




